@import "../style/minxins.scss";
$height: 70px;

form {
  position: relative;
  [type="text"] {
    width: 100%;
    height: $height;
  }
  [type="reset"] {
    position: absolute;
    top: $height/2 - 10px;
    right: 10px;
    @include btn-circle; // transform: translateY(50%);
  }
}
